html {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.banner {
  background-image: url("../media/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
}

.main-nav li {
  display: inline-block;
  padding: 1rem 2rem;
  color: white
}

.menu-nav {
  display: none;
  padding: 1rem 2rem;
  color: white
}

.header-content a {
  font-family: Helvetica;
  text-decoration: none;
  color: white
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-img img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.title span {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}

.slogan {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10rem;
  right: -2rem;
}

.slogan h1 {
  padding: 1.5rem 5rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
}

#services {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.services-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
}

.services-img-paper img {
  max-width: 3.5rem;
}

.services-img img {
  width: 5rem;
}

.services-items span {
  text-align: center;
  padding-top: .5rem;
}

.aboutus {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-family: Helvetica;
}

.aboutus-philosophy, .aboutus-appointments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  margin: 0 2.5%;
}

.aboutus-philosophy h3, .aboutus-appointments h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 85%;
  background-color: cadetblue;
  color: white;
}

.aboutus-philosophy p, .aboutus-appointments p {
  text-align: justify;
  font-size: .9rem;
}

.aboutus-philosophy {
  margin-right: 5%;
}

footer {
  background-color: azure;
  margin-top: 5rem;
}

.copyright {
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Helvetica;
}

.copyright img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }

  .banner {
    height: 22rem;
  }

  .header-content {
    width: 100%;
    top: 0;
  }

  .slogan {
    top: 5rem;
    right: 2rem;
  }

  .slogan h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .banner {
    background-position: 20%;
    height: 17rem;
  }

  .header-content {
    width: 100%;
    top: 0;
  }

  .header-content span {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .menu-nav {
    display: inline-block;
  }

  .slogan {
    display: block;
    top: 9rem;
    right: 0;
    text-align: center;
  }

  .slogan h1 {
    padding: 1rem;
    font-size: 1.33rem;
  }

  #services {
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
  }

  .services-items {
    height: auto;
    padding-bottom: 1.54rem;
  }

  .aboutus {
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
  }

  .aboutus-philosophy, .aboutus-appointments {
    width: auto;
    margin: 0 auto;

  }

  .aboutus-appointments {
    margin-top: 4rem;
  }

  .aboutus-philosophy h3, .aboutus-appointments h3 {
    padding: 0.5rem 1.25rem;
    width: auto;
    text-align: center;
  }

  .aboutus-philosophy p, .aboutus-appointments p {
    font-size: 0.77rem;
    padding-left: 2%;
  }

  .copyright {
    justify-content: center;
  }

  .copyright span {
    display: none;
  }
}
